/*================================================
Gallery Area CSS
=================================================*/
.single-gallery-item {
    margin-bottom: 30px;
    overflow: hidden;
    cursor: zoom-in;

    a {
        display: block;
        border-radius: 5px;
        
        img {
            transition: var(--transition);
        }
    }
    &.hover {
        a {
            img {
                filter: blur(2px);
                opacity: 0.5;
            }
        }
        &:hover {
            a {
                img {
                    filter: blur(0);
                    opacity: 1;
                }
            }
        }
    }
    &:hover {
        a {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.lg-backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

.card-gallery {
    padding: 0 16px;
    margin-bottom: 16px;
    
    &__inner {
        position: relative;
        min-height: 350px;
        background-color: var(--whiteColor);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 0px 10px #2430583d;

        p {
            padding: 16px;
        }

        .btn-detail {
            position: absolute;
            right: 16px;
            bottom: 8px;
            padding: 0;
            font-size: 10pt;
            color: #66b576;
        }
    }
}

.modal-gallery {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000000c4;
    z-index: 1000;

    &__inner {
        position: relative;
        max-width: 90vw;
        min-height: 60vh;
        background-color: var(--whiteColor);

        p {
            padding: 16px 56px 16px 0px;
        }
    }

    .btn-close {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}

/* Max width 450px */
@media only screen and (max-width: 450px) {
    .modal-gallery {
        min-height: 50vh;

        &__inner {
            p {
                padding: 16px 56px 16px 16px;
            }
        }
    }    
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .card-gallery {

        &__inner {
            p {
                padding: 8px;
            }
        }
    }    
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {


}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {



}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}